
{% extends 'template.html.twig' %}

{% block central %}
  
  <h1 style="text-align: center">About us</h1>

  <div class:"container">
  <iframe class="embed-responsive embed-responsive-16by9" id="inlineFrameExample"
    title="Inline Frame Example"
    
    height="300"
    src="https://www.eni-ecole.fr/">
</iframe>
  </div>

{% endblock %}