{% extends 'template.html.twig' %}

{% block central %}
  
  
  <div class="col-4 "style="box-shadow : 0 0.5em 5em -0.125em #00947e, 0 0px 0 1px #00947e; margin-left:32%; margin-top:2%">
  {{ form_start(formWish, 
      {attr: {
        novalidate: 'novalidate'
        }
      })
  }}
<h1 style="text-align: center; margin-bottom:2%">Add new Wish</h1>
    {{ form_widget(formWish)}}
    

    <button class="btn btn-success" style="margin-bottom:2%; margin-left:35%" type='submit'>Ajouter</button>

  {{ form_end(formWish)}}
  </div>
{% endblock %}
