{% extends 'template.html.twig' %}

{% block central %}
  
{% if not is_granted('ROLE_USER') %}
    <div class="row my-5 justify-content-center">
        <div class="col text-center">
            <div class="card border-0">
                <div class="card-body">
                    <div class="card-title">
                        <h3 class="mb-4">We all have wishes to fulfill before dying !</h3>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-md-4 col">
                            <p class="small color-text"><strong>W<i>ish</i></strong> is the application to create your pre-mortem list. </p> <button type="button" onclick=location.href="{{ path('add') }}" class="btn btn-primary border-0 my-4"><b>Tried it's free</b></button><br> </span> <span><img src="http://assets.stickpng.com/images/588798a7bc2fc2ef3a186015.png" style= width:410px/> 
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endif %}
{% if is_granted('ROLE_USER') %}
    <div class="row my-5 justify-content-center">
        <div class="col text-center">
            <div class="card border-0">
                <div class="card-body">
                    <div class="card-title">
                        <h3 class="mb-4">Hello {{app.user.username}} , do you have any new wishes to register?</h3>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-md-4 col">
                            <button type="button" onclick=location.href="{{ path('add') }}" class="btn btn-primary border-0 my-4"><b>GO</b></button>          
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endif %}


{% endblock %}


